@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body, html, *{
    font-family: "Montserrat", serif;
}

.mfont,a,p,h1,h2,h3,h4,h5,h6, ul, li{
    font-family: "Montserrat", serif !important;
}

nav ul{
    display: flex;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    gap: 16px;
    color: black;
    align-items: center;
}

#nav-menu ul li a{
    color: #fff !important;
}
#nav-menu ul{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    padding: 1.5rem 1rem;
    border-top: 1px solid #3d3d3d;
    padding-top: 4rem;
}

li.current_page_item a{
    color: #B6E22E !important;
}

#nav-menu ul li.current_page_item a{
    color: #B6E22E !important;
}
#nav-menu ul li a:hover{
    color: #B6E22E !important;
}

.tab-button.active{
    border-bottom: 2px solid black !important;
}

.inverRounded::before{
    position: absolute;
    content: "";
    width: 1rem;
    height: 2rem;
    top: -2rem;
    border-bottom-right-radius: 30px;
    right: 0px;
    box-shadow: 30px;
    box-shadow: 0 20px 0 0 #fff;
}

.inverRounded::after{
    position: absolute;
    content: "";
    width: 1rem;
    height: 2rem;
    bottom: -2rem;
    border-top-right-radius: 30px;
    right: 0px;
    box-shadow: 30px;
    box-shadow: 0 -20px 0 0 #fff;
}
.hidden {
    display: none;
}
.active {
    border-bottom: 2px solid black;
}

.article_thumbnil img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.faq-answer {
    display: none;
    margin-top: 10px;
    color: #2B2B2B;
    font-size: 16px;
}
.faq-answer.open {
    display: block;
}

.faq-answer{
    display: none;
}
.faq-item.open{
    background-color: #F9F9F9;
    margin-top: 8px;
}
.faq-item.open button{
    color: #A8A8A8;
}
.faq-item.open button img{
    rotate: 90deg;
}
.open .faq-answer{
    display: block !important;
}
#menu-footer-menu li a{
    color: #fff !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    text-transform: capitalize !important;
}


.js .slider-single > div:nth-child(1n+2) { display: none }

.js .slider-single.slick-initialized > div:nth-child(1n+2) { display: block }

.slider-single h3 {
	line-height: 10rem;
}

.slider-nav h3::before {
	content: "";
	display: block;
	padding-top: 75%;
}

.slider-nav h3 span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.slider-nav .slick-slide { cursor: pointer; }

.slick-slide.is-active h3 {
	color: #c00;
	background-color: #fff
}

button.active_dashbord_page{
    background-color: #B6E22E !important;
}
.faq-item p{
    display: none !important;
}
.faq-item.open p{
    display: none !important;
}



/* Woo CSS */
.woocommerce span.onsale{
 background: #B6E22E !important;
}
.product img{
    background: #fff;
    padding: 14px;
    margin-bottom: 0 !important;
}
.woocommerce-loop-product__title{
    font-weight: 400 !important;
    font-size: 24px !important;
    text-transform: uppercase !important;
    color: #111 !important;
    margin-bottom: 30px !important;
    letter-spacing: 4px;
}
.price .woocommerce-Price-amount.amount{
    font-size: 24px !important;
    font-weight: 400 !important;
    color: #111 !important;
    letter-spacing: 6px;
}
.product-excerpt{
    margin-bottom: 30px !important;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
    /* margin: 0 !important; */
}

.woocommerce ul.products{
    display: flex;
}

.woocommerce.columns-3 ul.products li.product{
    /* width: 33% !important; */
}

.woocommerce span.onsale{
    border-radius: 8px !important;
    min-height: 50px !important;
    min-width: 110px !important;
    color: #111111 !important;
    font-size: 24px !important;
    font-weight: 400 !important;
    line-height: 1.736 !important;
    text-transform: uppercase !important;
    top: 28px !important;
    right: auto !important;
    left: 18px !important;
}

@media (max-width: 768px){
    .woocommerce ul.products{
        flex-wrap: wrap;
        
    }
    .woocommerce.columns-3 ul.products li.product{
        margin-right: 7px !important;
    }
}

.postExcerpt p{
    font-size: 24px;
    color: #797979;
}

.woocommerce-EditAccountForm.edit-account input,
.woocommerce-Input.woocommerce-Input--text.input-text, input{
    padding: 0.8rem !important;
    border: 1px solid #7979794f;
    border-radius: 4px;
    background: #fff important;
}
.woocommerce form .show-password-input, .woocommerce-page form .show-password-input{
    top: 0.9rem !important;
}
.woocommerce-Button.button{
    background-color: #B6E22E;
    margin-top: 1.2rem;
    padding: 10px 2rem;
    border-radius: 10px;
}
.woocommerce-button.button.woocommerce-form-login__submit{
    background-color: #B6E22E;
    padding: 10px 2rem;
    border-radius: 10px;
}
.woocommerce-form-row em{
    font-size: 14px;
}
.woocommerce h2{
    font-size: 24px;
    font-weight: 600;
    margin-top: 1rem;
    padding: 0 1rem;
}

.woocommerce-form{
    margin-top: 10px !important;
}
.woocommerce form.login, .woocommerce form.register{
    margin: 1rem !important;
}
@media (min-width: 768px){
    .postExcerpt p{
        font-size: 16px !important;
    }
}